
  .DashboardContainer{
    margin: 15px;
    padding-left: 80px;
  }
  .Content {
    width: 70vw;
    height: 100vh;
    
    overflow-y: scroll;
  }
  
  .ContentHeader {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .SidePanel {
    width: 30vw;
    right: 0px;
    background-color: #1f2937;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .DashTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
  }
  .DashTitle p{
    color: gray;
  }
  
  .Spacer {
    margin-left: 120px;
  }
  
  .TabHeader {
    display: flex;
  }
  
  p {
    margin: 0;
    padding-left: 1rem;
  }
  