.CoinCard{
    width: 100%;
    height: 100px;
    background-color: #1F2937;
    border-radius: 10px;
    display: flex;
    color: white;
    justify-content: space-evenly;
    margin:10px;
    margin-left: 0px;
    margin-right: 0px;
}

.CoinIcon{
    
    height: 100%;
    
}

.PriceTag{

    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-content: center;


}
.symbol{
    color: gray;
}
.athChange{
    color: gray;
}

.NameTag{

    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    justify-content: center;
    align-content: center;

}

img {
    border-radius: 50%;
    margin-top: 50%;
}

.BalanceTag{

    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    justify-content: center;
    align-content: center;

}

