.Sidebar{
    height: 95%;
    width: 70px;
    background-color: #1F2937;
    border-radius: 12px;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 10px;
    margin-right: 10px;
    position: fixed;

    color: white;
}

.SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
}
.SidebarList .row:hover{
    cursor: pointer;  
}
.SidebarList .row{
    width: 100%;
    height: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.SidebarList ul{
    display: inline;
    padding: 0;
    margin: 0;
    text-align: center;
}

.SidebarList li{
    padding: .05em;
    margin-top: 2em;
}
.SidebarList .Selected{
    border-color: white;
    border-right: 1px solid #ddd;
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title{
    flex:70%   
}

a{

    color: white;
    border: 0px;
    background-color: transparent;

}
a:hover{
    color: gold;
    border-color: transparent;
}

.SiteIcon{

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-20px;
    right:14px;



}
