.App{
    width: 100w;
    height: 100vh;
    display: flex;
}

.App3{
    width: 100w;
    height: 100vh;
    padding-left: 125px;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.content {
    width: 70vw;
    height: 150vh;
    background-color: red;
    margin-left: 115px;
    overflow-y: scroll;

}
.content :hover{

    
}

.SidePanel{
    width: 500px;
    background-color: seagreen;
    overflow-x: hidden;
    overflow-y: scroll;
}




.Display{
    width: 100%;
    Height: 500px;
    background-color: lightgray;
    border-radius: 10px;
}
.Spacer{
    margin-left: 120px;
}